add_ace group.admin command allow # allow all commands

# Resources
add_ace resource.qbx_core command allow # Allow qbx_core to execute commands

# Ox_lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

# Ace Groups
add_ace group.admin admin allow
add_ace group.mod mod allow
add_ace group.support support allow
add_ace group.admin filmmaker.tools allow
add_ace group.god filmmaker.tools allow
add_ace group.filmmaker filmmaker.tools allow
add_ace group.admin bazufix-fuel allow
add_ace group.admin bazufix-fuel.admin allow
add_ace group.god bazufix-fuel allow
add_ace group.god bazufix-fuel.admin allow
add_ace group.admin cidade_tycoon.worldbuilder allow
add_ace group.god cidade_tycoon.worldbuilder allow

# Inheritance
add_principal group.admin group.mod
add_principal group.mod group.support
